.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 35px;
    font-family: serif;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 items per row */
    gap: 20px;
}

.product-item {
    cursor: pointer;
}

.product-item img {
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

.product-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.product-info h3 {
    margin: 0;
}

.product-info p {
    margin: 5px 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.product-details {
    display: flex;
}

.product-details img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 20px;
}

.product-details div {
    flex-grow: 1;
}

.product-details h2 {
    font-size: 24px;
    margin-top: 0;

}

.product-details p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 20;
}